* {
  font-family: 'Times New Roman', serif;
  font-weight: 100;
}

/* html {
  font-size: 100%;
} */

body {
  margin: 0;
  width: 100vw;
  min-width: 60rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

header {
  width: 20rem;
  min-width: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  box-sizing: border-box;
}

header > h1 {
  font-size: 1.75rem;
  margin: 0;
}

header > input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

header > input:focus {
  /* border-bottom: 0.09rem solid black; */
}

header > p {
  font-style: italic;
  font-size: 0.85rem;
  margin: 0;
}

header > p:first-of-type {
  margin-top: auto;
}

main {
  width: 25rem;
  min-width: 25rem;
  box-sizing: border-box;
  /* overflow: scroll; */
}

main > section {
  padding: 2rem 1rem;
  box-sizing: border-box;
}

main > section:not(:last-of-type) {
  /* border-bottom: 0.09rem solid black; */
}

section > h1 {
  font-size: 1rem;
  margin-top: 0;
}



section > h1 > span:not(:last-of-type) {
  margin-right: 0.25rem;
}

section > h1 > .term {
  font-style: italic;
}

section > h1 > .def::before {
  content: "'";
}
section > h1 > .def::after {
  content: "'";
}


section > h1 > .root {
  font-style: italic;
}
section > h1 > .root::before {
  font-style: normal;
  content: "(root ";
}
section > h1 > .root::after {
  font-style: normal;
  content: ")";
}

section > div::before {
  display: inline-block;
  width: 12rem;
  font-size: 1rem;
}
section > .pres::before {
  content: "Present template";
}
section > .pst::before {
  content: "Past template";
}
section > .pres::after, .pst::after {
  content: "-";
}
section > .rsp::before {
  content: "Resultative particle";
}
section > .imper::before {
  content: "Imperative";
}
section > .inf::before {
  content: "Infinitive";
}
section > .prog::before {
  content: "Progressive";
}
section > .vn::before {
  content: "Verbal noun";
}
section > .ap::before {
  content: "Active particle";
}

@supports (-webkit-touch-callout: none) {
  :root {
    font-size: 3em;
  }
  
  body {
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem;
    min-width: 100vw;
  }

  main {
    width: 100%;
    min-width: 100%;
  }
}
